// div  id news-results
//     width: 90%;
    // text-align: left;
    // margin: 5%;
    // margin-top: 0.5%;

    // div id weather
    // width: 100%
    // text-align: center;

    // img in div width 20%

    // header font-szie -webkit-xxx-large

    // kdb news margin-left 30%


    // justify-content: flex-start


    .container{
    	display: flex;
    	flex-direction: column;
    	justify-content: flex-start;
    }